.navcontainer {
  display: none;
}

.a {
  color: #403531;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

@media (max-width: 500px) {
  .navcontainer {
    display: flex;
    padding: 330px 16px 2px 16px;
    justify-content: space-evenly;
    align-items: center;
  }

  .header {
    height: 64px;
    background-color: #110f0f;
    border-color: #110f0f;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    padding: 15px 0;
    max-width: 55px;
    min-height: 64px;
  }

  .number {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  .timevisit {
    font-size: 11px;
    font-weight: 500;
    margin: 0;
  }

  .container_medium {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    box-sizing: border-box;
  }

  .container_small {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
  }

  .menu_background {
    background-color: rgba(17, 15, 15, 0.5);
  }

  .dark {
    position: fixed;
    top: 88px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 35;
  }
}

@media (min-width: 1230px) {
  .navcontainer {
    display: none;
  }
}

@media screen and (min-width: 1880px) {
  .nav {
    padding-right: 30rem;
  }
}

@media screen and (max-width: 1879px) {
  .nav {
    padding-right: 4rem;
  }
}

.link {
  max-width: 48px;
  min-width: 48px;
}

.ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 1rem;
  margin-top: 0;
  text-decoration: none;

  &.active {
    transform: translateX(100%);
  }

  @media (max-width: 1230px) {
    flex-flow: column nowrap;
    background-color: #fff;
    position: fixed;
    z-index: 30;
    transform: translateX(100%);
    top: 88px;
    left: 0;
    right: 0;
    padding: 24px 40px;
    transition: transform 0.3s ease-in-out;

    &.active {
      transform: translateX(0);
    }
  }

  @media (max-width: 600px) {
    flex-flow: column nowrap;
    background-color: #fff;
    position: fixed;
    z-index: 30;
    transform: translateX(100%);
    top: 65px;
    left: 0;
    right: 0;
    padding: 24px 16px;
    height: 812px;
    transition: transform 0.3s ease-in-out;
    margin: 0;

    &.active {
      transform: translateX(0);
    }
  }
}

.burger {
  position: fixed;
  display: none;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  background-color: #110f0f;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 48px;
  height: 30px;
  padding: 4px 15px;
  z-index: 20;

  @media screen and (max-width: 1230px) and (min-width: 675px) {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    left: 15%;
  }

  @media screen and (max-width: 674px) {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    right: 7%;
  }

  &.active div:nth-child(1) {
    transform: rotate(45deg);
  }

  &.active div:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }

  &.active div:nth-child(3) {
    transform: rotate(-45deg) scaleX(2);
  }

  div {
    height: 0.1rem;
    background-color: #fff;
    transform-origin: 1px;
    transition: all 0.3s linear;

    &:nth-child(1) {
      width: 16px;
      transform: rotate(0);
    }

    &:nth-child(2) {
      width: 12px;
      transform: translateX(0);
      opacity: 1;
    }

    &:nth-child(3) {
      width: 8px;
      transform: rotate(0) scaleX(1);
    }
  }
}
