.pagination_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 64px 62px 64px;

  .button_show_more, .button_show_more_disabled {
    width: 203px;
    height: 56px;
    color: #14100f;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: 1px solid #14100f;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    transition-duration: 0.3s;
    flex-shrink: 0;
    background-color: #fff;
    box-sizing: border-box;

    &:hover,
    &:active {
      color: white;
      background-color: #110f0f;
    }

    &_disabled {
      pointer-events: none;
      background-color: #e7e7e7;
      color: #fff;
      border: none;

      img {
        filter: brightness(100%) saturate(0);
      }
    }
  }

  @media screen and (max-width: 872px) {
    padding: 0 40px 48px 40px;
  }

  @media screen and (max-width: 743px) {
    padding: 0 16px 40px 16px;
  }

  @media screen and (max-width: 690px) {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;

    .button_show_more {
      width: 90%;
    }
  }
}

$button-size: 48px;
$button-padding: 8px;
$button-border-radius: 50%;
$button-hover-color: #403531;

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .numbers_arrows, .arrow_disabled {
    background-color: #fff;
    padding: $button-padding;
    border: 1px solid rgba(64, 53, 49, 0.5);
    border-radius: $button-border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-size;
    height: $button-size;
    cursor: pointer;
    transition-duration: 0.3s;

    img {
      filter: brightness(0) saturate(100%);
    }

    &:hover {
      border: 1px solid $button-hover-color;
    }

    &.arrow_disabled {
      pointer-events: none;
      background-color: #e7e7e7;
      border: 1px solid transparent;

      img {
        filter: brightness(100%) saturate(0);
      }
    }
  }

  span {
    width: $button-size;
    height: $button-size;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid transparent;
    box-sizing: border-box;
    border-radius: $button-border-radius;
    text-align: center;
    padding: 14px;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      border: 1px solid $button-hover-color;
    }

    &.selected_page_number {
      background-color: $button-hover-color;
      color: white;
      pointer-events: none;
    }
  }

  @media screen and (max-width: 690px) {
    span:nth-child(7) {
      display: none;
    }
  }

  @media screen and (max-width: 425px) {
    span:nth-child(5), span:nth-child(7) {
      display: none;
    }
  }
}
