@media screen and (min-width: 1134px) {
    .faq-container {
        display: flex;
        padding: 120px 64px;
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
    }

    .faq-blok {
        display: flex;
        align-items: flex-start;
        gap: 60px;
        align-self: stretch;
    }

    .faq-question-blok {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1 0 0;
    }

    .faq-h3 {
        font-size: 40px;
        margin: 0;
    }

    .faq-blokform {
        width: 581px;
        padding: 40px;
        gap: 32px;
    }

    .question-icon {
        font-size: 24px;
    }
}

@media screen and (max-width: 1133px) {
    .faq-h3 {
        font-size: 40px;
        margin: 0;
        padding: 80px 40px 0 40px;
    }

    .faq-question-blok {
        display: flex;
        padding: 80px 40px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }

    .faq-blokform {
        padding: 40px;
        gap: 32px;
    }

    .question-icon {
        font-size: 24px;
    }
}

@media screen and (max-width: 553px) {
    .faq-h3 {
        font-size: 24px;
        margin: 0;
        padding: 56px 16px 0 16px;
    }

    .faq-question-blok {
        display: flex;
        padding: 56px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .faq-blokform {
        padding: 56px 16px;
        gap: 24px;
    }

    .question-icon {
        font-size: 36px;
    }
}

.faq-h3 {
    color: #403531;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
}

.question-section {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #403531;
    cursor: pointer;
    display: flex;
    padding: 24px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.question-align {
    align-items: center;
    display: flex;
    min-height: 10px;
    text-align: left;
}

.question-style {
    color: #403531;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin: 0;
}

.question-icon {
    background: none;
    border: none;
    color: #484848;
    cursor: pointer;
    margin-left: auto;
    transition: all 0.3s ease;

    &.rotate {
        transform: rotate(45deg);
    }
}

.answer {
    margin-right: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
    color: #484848;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    * > {
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}

.faq-blokform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background: #161211;
    gap: 32px;
}

.faq-title {
    color: #fff;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin: 0;
}

.faq-blokdirector {
    display: flex;
    align-items: center;
    gap: 17px;
}

.faq-text {
    color: #fff2d8;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.faq-textdirector {
    color: #fff;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}
